<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <script src="https://kit.fontawesome.com/fa7540a0b2.js" crossorigin="anonymous"></script>
    <link href="../assets/style/general.css" rel="stylesheet" />
    <link href="../assets/style/card.css" rel="stylesheet" />

    <script src="../logic/inner/CardDataReceiver" defer></script>
    <title>learny - Learning "Grundgesetze"</title>
</head>

<body>
    <div class="menu-bar">
        <div class="menu-item">
            <input type="text" placeholder="Search" />
        </div>
        <div class="menu-item">
            <button class="primary-btn">
                New Card
            </button>
            <button class="secondary-btn">
                Overview
            </button>
        </div>
    </div>

    <div class="pane">
        <div class="flash-card">
            <div class="content">
                <div class="front">
                    <p>Front</p>
                </div>
                <div class="back">
                    <p>Back</p>
                </div>
            </div>
        </div>
        <div class="card-list">
            <div class="list-fade"></div>
            
            <div class="list-flex">
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <p>Preview</p>
                    <div class="d-flex">
                        <div class="action">
                            ⚡️ Siegesserie
                        </div>
                        <div class="action">
                            ⏰ Länger nicht geübt
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>